body {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    overflow-x: hidden;
    margin: 0;
    background-color: #d7d7d7;
}

.content {
    width: 80%;
    text-align: left;
    margin: auto;
    margin-top: 5%;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 7%;
}

.app-title {
    font-family: "Space Mono", monospace;
    display: inline-block;
    background: linear-gradient(to left, #2D3A69, #5A307B);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1 {
    font-size: 3em;
    font-family: "Open Sans", sans-serif;
    font-weight: bolder;
    width: 100%;
    text-align: center;
}

table {
    width: 100%;
    text-align: left;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #232323;
}

#pub {
    border-radius: 30px;
    margin-bottom: 3%;
}

#ulule {
    width: 30%;
    margin-left: 35%;
}

header {
    z-index: 999;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: #2A2A2A;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    opacity: 0.9;
}

#logo-title {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    margin-left: 4%;
}

.links {
    color: white;
    text-decoration: none;
}

#header-links {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

#poster {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 5%;
}

footer {
    background-color: #2A2A2A;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer-links {
    list-style: none;
    padding: 0;
    width: 80%;
}

.footer-links li {
    display: inline;
    margin: 0 10px;
}

.footer-links a {
    color: white;
    text-decoration: none;
}

header, footer {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

@media screen and (max-width: 1000px) and (min-width: 0px) {
    body, html {
        overflow-x: hidden;
    }

    #header-links {
        font-size: 0.8em;
    }

    h1 {
        font-size: 2em;
    }

    #ulule {
        width: 50%;
        margin-left: 25%;
    }

    .content {
        margin-top: 20%;
    }

    #graphique {
        width: 100%;
    }

    #pub {
        width: 100%;
        height: auto;
    }
}